:root {
  --w: 300;
  --heading: {
    font-size: 40px;
    font-weight: calc(var(--w) * 1.5);
    color: #0000ffaa;
  }
}
.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}
._mt {
  margin-top: 99px;
}

// precss var
$blue: #056ef0;
$column: 200px;

.my-h1 {
  @apply --heading;
  border-width: 3px;
  border-style: dotted;

  &--box-shadow {
    box-shadow: 0 0 20px 0 #333;
  }
}

._clear {
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:before {
    display: table-cell;
  }
}

._border {
  border-top: 0 solid #fff;
}
